.navbar-brand {
    font-size: 30px;
    font-weight: 700;
  }
  .navbar-brand span {
    color: #f4cd2a;
  }
  
  .nav-item {
    font-size: 18px;
  }
  
  .nav-item .nav-link {
    color: black !important;
  }
  
  .nav-item .nav-link:hover {
    color: black !important;
  }