

    <div class="container mt-5">
      <div class="row m-0 align-items-center">
        <div class="col-md-5">
          <p id="home-slogan">Lorem ipsum dolor sit amet <span>consectetur adipisicing elit.</span> Esse numquam eaque sint ex sapiente nemo.</p>
        </div>
        <div class="col-md-7">
          <img class="img-fluid" src="../../../assets/img/tarim.svg" alt="tarim">
        </div>
      </div>
    </div>
    <div *ngFor="let c of questionCategories" class="container mt-5">

        <h1>
          <i class="fas fa-tractor"></i>
          {{c.name}}
        </h1>

        <div class="border rounded bg-info p-2">
          <div class="row justify-content-between m-0">
            <div class="col-md-7 p-1">Konu Başlığı</div>
            <div class="col-md-2 p-1">Yorum Sayısı</div>
            <div class="col-md-2 p-1">Son Yorum</div>
          </div>
         </div>
         <div id="topics">
          <div class="border rounded">
            <div class="row justify-content-between m-0">
              <div class="col-md-7 p-1" *ngFor="let cs of questionSubCategories[c.id]"  routerLink="/questions/id:1">{{cs.name}}</div>
              <div class="col-md-2 p-1">15</div>
              <div class="col-md-2 p-1">5dk Önce</div>
            </div>
           </div>
           <div class="border rounded">
            <div class="row justify-content-between m-0">
              <div class="col-md-7 p-1">Buğdaylarım için hangi ilacı kullanmalıyım</div>
              <div class="col-md-2 p-1">15</div>
              <div class="col-md-2 p-1">5dk Önce</div>
            </div>
           </div>
           <div class="border rounded">
            <div class="row justify-content-between m-0">
              <div class="col-md-7 p-1">Buğdaylarım için hangi ilacı kullanmalıyım</div>
              <div class="col-md-2 p-1">15</div>
              <div class="col-md-2 p-1">5dk Önce</div>
            </div>
           </div>
           <div class="border rounded">
            <div class="row justify-content-between m-0">
              <div class="col-md-7 p-1">Buğdaylarım için hangi ilacı kullanmalıyım</div>
              <div class="col-md-2 p-1">15</div>
              <div class="col-md-2 p-1">5dk Önce</div>
            </div>
           </div>
                     <div class="border rounded">
            <div class="row justify-content-between m-0">
              <div class="col-md-7 p-1">Buğdaylarım için hangi ilacı kullanmalıyım</div>
              <div class="col-md-2 p-1">15</div>
              <div class="col-md-2 p-1">5dk Önce</div>
            </div>
           </div>
         </div>
    </div>
    <div class="container mt-5">

        <h1>
          <i class="fas fa-tractor"></i>
          Tarım
        </h1>

        <div class="border rounded bg-info p-2">
          <div class="row justify-content-between m-0">
            <div class="col-md-7 p-1">Konu Başlığı</div>
            <div class="col-md-2 p-1">Yorum Sayısı</div>
            <div class="col-md-2 p-1">Son Yorum</div>
          </div>
         </div>
         <div id="topics">
          <div class="border rounded">
            <div class="row justify-content-between m-0">
              <div class="col-md-7 p-1">Buğdaylarım için hangi ilacı kullanmalıyım</div>
              <div class="col-md-2 p-1">15</div>
              <div class="col-md-2 p-1">5dk Önce</div>
            </div>
           </div>
           <div class="border rounded">
            <div class="row justify-content-between m-0">
              <div class="col-md-7 p-1">Buğdaylarım için hangi ilacı kullanmalıyım</div>
              <div class="col-md-2 p-1">15</div>
              <div class="col-md-2 p-1">5dk Önce</div>
            </div>
           </div>
           <div class="border rounded">
            <div class="row justify-content-between m-0">
              <div class="col-md-7 p-1">Buğdaylarım için hangi ilacı kullanmalıyım</div>
              <div class="col-md-2 p-1">15</div>
              <div class="col-md-2 p-1">5dk Önce</div>
            </div>
           </div>
           <div class="border rounded">
            <div class="row justify-content-between m-0">
              <div class="col-md-7 p-1">Buğdaylarım için hangi ilacı kullanmalıyım</div>
              <div class="col-md-2 p-1">15</div>
              <div class="col-md-2 p-1">5dk Önce</div>
            </div>
           </div>
                     <div class="border rounded">
            <div class="row justify-content-between m-0">
              <div class="col-md-7 p-1">Buğdaylarım için hangi ilacı kullanmalıyım</div>
              <div class="col-md-2 p-1">15</div>
              <div class="col-md-2 p-1">5dk Önce</div>
            </div>
           </div>
         </div>
    </div>

    <div class="container mt-5 pt-5 pb-5 basic-3">
      <div class="row">
          <div class="col-lg-6">
              <div class="text-container">
                  <h2>Organik tohumlarınız mı var?</h2>
                  <p>
                    Tohumlarınızı tohum bankamıza kaydedin, uzman ekiplerle tohumlarınızı incelemeye gelelim.
                     Hem ülkemizde bulunan organik tohum ihtiyacına katkıda bulunun, hem de siz bir şeyler kazanın.
                  </p>
                  <a href="#" class="btn btn-warning">Tohumunuzu Kaydedin</a>
              </div> <!-- end of text-container -->
          </div> <!-- end of col -->
          <div class="col-lg-6">
              <img class="img-fluid rounded" src="../../../assets/img/filiz.jpg" alt="alternative">
          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div>
