
    <div class="container mt-5">
      <h1 class="text-danger mb-5">Pazar Yeri</h1>
      <div id="products" class="row my-4 p-4 rounded">
        
        <div class="col-md-2 product">
          <a class="product-link" href="#">
            <div class="card p-0">
              <img class="card-img-top"
                   src="assets/img/elma.jpeg"
                   alt="@item.Name" />
              <div class="card-body">
                <h5>Elma</h5>
                <div class="address">Turgutlu / Manisa</div>
              </div>
          </div> 
          </a> 
        </div>
       
      </div>
    </div>
  