
    <div class="container mt-5">
      <h1 class="text-danger mb-5">Pazar Yeri</h1>
      <div id="products" class="row my-4 p-4 rounded">

        <div class="col-md-2 product">
          <a class="product-link" href="productsdetail/id:8">
            <div class="card p-0">
              <img class="card-img-top"
                   src="assets/img/elma.jpeg"
                   alt="@item.Name" />
              <div class="card-body">
                <h5>Elma</h5>
                <div class="address">Turgutlu / Manisa</div>
              </div>
          </div>
          </a>
        </div>
        <div class="col-md-2 product">
          <a class="product-link" href="productsdetail/id:8">
            <div class="card p-0">
              <img class="card-img-top"
                   src="assets/img/fındık.jpg"
                   alt="@item.Name" />
              <div class="card-body">
                <h5>Fındık</h5>
                <div class="address">Ordu</div>
              </div>
          </div>
          </a>
        </div>
        <div class="col-md-2 product">
          <a class="product-link" href="productsdetail/id:8">
            <div class="card p-0">
              <img class="card-img-top"
                   src="assets/img/karadut.jpg"
                   alt="@item.Name" />
              <div class="card-body">
                <h5>Karadut</h5>
                <div class="address">Turgutlu / Manisa</div>
              </div>
          </div>
          </a>
        </div>
        <div class="col-md-2 product">
          <a class="product-link" href="productsdetail/id:8">
            <div class="card p-0">
              <img class="card-img-top"
                   src="assets/img/kestane.webp"
                   alt="@item.Name" />
              <div class="card-body">
                <h5>Kestane</h5>
                <div class="address">Sinop</div>
              </div>
          </div>
          </a>
        </div>
        <div class="col-md-2 product">
          <a class="product-link" href="productsdetail/id:8">
            <div class="card p-0">
              <img class="card-img-top"
                   src="assets/img/ceviz.webp"
                   alt="@item.Name" />
              <div class="card-body">
                <h5>Ceviz</h5>
                <div class="address">Zonguldak</div>
              </div>
          </div>
          </a>
        </div>
        <div class="col-md-2 product">
          <a class="product-link" href="productsdetail/id:8">
            <div class="card p-0">
              <img class="card-img-top"
                   src="assets/img/karauzum.jpg"
                   alt="@item.Name" />
              <div class="card-body">
                <h5>Kara Üzüm</h5>
                <div class="address">Sinop</div>
              </div>
          </div>
          </a>
        </div>
        <div class="col-md-2 product">
          <a class="product-link" href="productsdetail/id:8">
            <div class="card p-0">
              <img class="card-img-top"
                   src="assets/img/zeytinyagi.jpg"
                   alt="@item.Name" />
              <div class="card-body">
                <h5>Zeytinyağı</h5>
                <div class="address">İzmir</div>
              </div>
          </div>
          </a>
        </div>
        <div class="col-md-2 product">
          <a class="product-link" href="productsdetail/id:8">
            <div class="card p-0">
              <img class="card-img-top"
                   src="assets/img/tatlipatates.jpg"
                   alt="@item.Name" />
              <div class="card-body">
                <h5>Tatlı Patates</h5>
                <div class="address">Hatay</div>
              </div>
          </div>
          </a>
        </div>
      </div>
    </div>
