main {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .breadcrumb {
    background: none;
    padding: 0;
  }

  .question-item {
    margin-bottom: 30px;
  }

  blockquote:before,
  blockquote:after {
    font-family: Arial, serif;
    font-size: 1.5em;
    vertical-align: middle;
    line-height: 0;
  }

  blockquote:before {
    content: open-quote;
    margin-right: 4px;
  }

  blockquote:after {
    content: close-quote;
    margin-left: 3px;
  }

  .question-item p{
      margin-top: 10px;
  }