.navbar-brand {
  font-size: 30px;
  font-weight: 700;
}
.navbar-brand span {
  color: #f4cd2a;
}

.nav-item {
  font-size: 18px;
}

.nav-item .nav-link {
  color: black !important;
}

.nav-item .nav-link:hover {
  color: black !important;
}

.basic-3 h2 {
  margin-bottom: 1.25rem;
  font-size: 36px;
}

.page-footer h3 {
  font-weight: 700;
}

.page-footer h3 span {
  color: #f4cd2a;
}

p#home-slogan {
  font-size: 25px;
}

p#home-slogan span {
  color: #599607;
  font-weight: 700;
}
