<footer class="page-footer bg-light">
    <div class="container">
      <div class="row justify-content-between mb-5">
        <div class="col-lg-3 py-3">
          <h3> <span>Tar</span>Tarım </h3>
          <p>Bizimle her zaman iletişime geçebilirsiniz.</p>

          <p><a href="#">info@tartarim.com</a></p>
          <p><a href="#">444 5746</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 py-2">
          <p id="copyright">© 2020 <a href="#">TarTarım</a>. Tüm hakları sakladır</p>
        </div>
        <div class="col-sm-6 py-2 text-right">
          <div class="d-inline-block px-3">
            <a href="#">Gizlilik Koşulları</a>
          </div>
          <div class="d-inline-block px-3">
            <a href="#contact">Bize Ulaşın</a>
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </footer>
